/* Navbar */
.navbar {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2e8b57;
    padding: 15px 50px;
    color: white;
    height: 5rem;
    /* sticky */
     position: sticky;
    top: 0;
    z-index: 1000;   /* keeps navbar above all content */
}



.navbar .logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar .nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

/* .navbar .nav-links li a:hover {
    text-decoration: underline;
    background-color: rgb(100, 100, 230);
} */
.navbar .nav-links li a:hover {
    background-color: #22c55e;   /* eco green */
    color: white;
    padding: 8px 14px;
    border-radius: 6px;
    box-shadow: 0 0 10px #22c55e;
    transition: 0.3s ease;
}

/* ................... */

/* Login Button */
.btn-login {
    padding: 8px 16px;
    border: 2px solid #22c55e;   /* green border */
    border-radius: 20px;
    color: #22c55e;
    font-weight: 500;
    transition: all 0.3s ease;
}

.btn-login:hover {
    background-color: #22c55e;
    color: #ffffff;
    box-shadow: 0 0 10px rgba(34, 197, 94, 0.6);
}

/* Signup Button (highlighted) */
.btn-signup {
    padding: 8px 18px;
    background-color: #22c55e;
    color: #ffffff;
    border-radius: 20px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.btn-signup:hover {
    background-color: #16a34a;
    box-shadow: 0 0 12px rgba(34, 197, 94, 0.8);
}
